# .env.example
GEMINI_API_KEY=
GIPHY_API_KEY=
BRAVE_SEARCH_API_KEY=

# Web Push VAPID Keys
VITE_VAPID_PUBLIC_KEY=BAJYmiDl2vzsgcRCMontlzJKoeprsC8Z8iBdFd0tOMLNEnUGJ0P90cpwmG7P5WRjc5ymGuOxA-FNTe2qgBDb_x8
VAPID_PRIVATE_KEY=T3DXXpHqjDqqjaz39fuUSwEw6Y4fXzxTyp1Oy2LUkuM
VAPID_SUBJECT=mailto:example@gmail.com
